{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <header>
        <a href="index"><span>Atma Ram Santan Dharma College</span></a>

        <section id="nav-links">
            <a href="login">Login</a>
            <a href="signup">Sign Up</a>
        </section>
    </header>
    <main>
        <h1>Admission 2023</h1>
    </main>
</body>

</html>